<h2 style="text-align: center">Get Customer Details</h2>
<form style="text-align:center">
    <mat-form-field>
        <input matInput placeholder="enter PAN number"#Pan>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="enter Aadhaar number"#Aadhaar>
    </mat-form-field>
    <button mat-raised-button (click)="GetDetails(Pan,Aadhaar)" color="primary">Get all Transactions</button>
    <!--<button mat-raised-button color="primary" (click)="GetDetails(Pan.value,Aadhaar.value)">Submit</button>-->
</form>
